
<div class="form-container">
  <h2>Add new cate</h2>
  <div class="input-container">
    <i class="fa fa-align-justify icon"></i>
      <input #name class="input-field" type="text" placeholder="Name" name="usrnm">
  </div>
 
  <div class="input-container">
    <i class="fa fa-align-justify icon"></i>
      <input #img class="input-field" type="text" placeholder="Image url" name="Image">
  </div>

  <div class="input-container">
    <i class="fa fa-align-justify icon"></i>
    <input #description class="input-field" type="text" placeholder="Description" name="Des">
  </div>

  <button title="Add new" (click)="addNewCate({name: name.value, image: img.value, description: description.value })" class="btn">Save</button>
</div>