:host {
  width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
  }
  
  table td, th {
    border: 1px solid black;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* Set a style for the submit button */
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 4px 8px;
    margin: 2px 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }

  /* Green */
  .success {
    border-color: #4CAF50;
    color: green;
    text-decoration: none;
    margin-bottom: 20px;
    width: 100px;
    text-align: center;
    text-justify: center;
    height: 25px;
    display: block;
  }

  .success:hover {
    background-color: #4CAF50;
    color: white;
  }
 
  /* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}
