
<div class="form-container">
        <h2>Add new user</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input #username class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>
       
        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input #password class="input-field" type="text" placeholder="Password" name="psw">
        </div>
        <button title="Add user" (click)="addNewUser({username: username.value, password: password.value })" class="btn">Save</button>
</div>


