 /* Style the header */
 header {
    background-color: #2284a1;
    text-align: center;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
  }

  header > h2 {
    margin: 0px;
  }