
<div class="form-container">
    <h2>{{user.username | uppercase}} Details</h2>
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input  [(ngModel)]="user.username" class="input-field" type="text" placeholder="Username" name="usrnm" disabled>
    </div>
   
    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input [(ngModel)]="user.password" class="input-field" type="text" placeholder="Password" name="psw">
    </div>
    <div class="buttons-container">
        <button (click)="save()"  class="btn">Save</button>
        <button (click)="goBack()"  class="btn">Go back</button>
    </div>
   
</div>