  <nav>
      <div class="card">
        <div class="avarta">
          <img src="https://openclipart.org/download/277089/Female-Avatar-5.svg" alt="avartar">
        </div>
        <div class="info">
            <h1>John Doe</h1>
            <p class="title">CEO & Founder</p>
            <p><button  id="btn-logout" type="submit">Logout</button></p>
        </div>
      </div>
    <hr/>
    <ul>
      <li><a  routerLink="/dashboard"><i class="fa fa-address-card"></i>Dashboard</a></li>
      <li><a  routerLink="/users"><i class="fa fa-address-card"></i>Users</a></li>
      <li><a  routerLink="/categories"><i class="fa fa-address-card"></i>Categories</a></li>
      <li><a  routerLink="/products"><i class="fa fa-address-card"></i>Products</a></li>
      <li><a  routerLink="/orders"><i class="fa fa-address-card"></i>Orders</a></li>
    </ul>
  </nav>
